<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="saml-form" method="post" action="<%= audience %>" autocomplete="off">
    <input type="hidden" name="RelayState" value="<%= relayState %>">
    <input type="hidden" name="SAMLResponse" value="<%= samlResponse %>" />
</form>
<script type="text/javascript">
    (function(){
        document.forms[0].submit();
    })();
</script>
</body>
</html>